:root {
  --branding-color: #6c63ff;
  --poppins-font: "Poppins", sans-serif;
  --playfair-font: "Playfair Display";
}
.hero {
  text-align: center;
  background-color: #f8f6fe;
  padding: 200px 20px;
}
.hero h2 {
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}
.hero h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
}
.hero p {
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 36px;
  font-size: 24px;
}
.btn-branding {
  background-color: var(--branding-color);
  color: white;
}
.hero a {
  padding: 14px 24px;
  border-radius: 5px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
img {
  max-width: 560px;
}
.col h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
}
.col p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.btn-branding-diff {
  border: 1px solid #6c63ff;
  color: #6c63ff;
  font-family: "Poppins", sans-serif;
  padding: 14px 24px;
  border-radius: 2px;
}
.desc {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
@media (max-width: 1000px) {
  h1,
  p {
    text-align: center;
  }

  .btn-branding-diff {
    display: block;
    max-width: 225px;
    margin: 0 auto;
  }
  .hero {
    padding: 100px 20px;
  }
  .desc {
    font-size: 17px;
  }
  .container .row .col img {
    display: block;
    margin: 0 auto;
    width: 250px;
    margin-top: 20px;
  }
  .container .row .col h1,
  p,
  h2 {
    text-align: center;
  }

  .container .row .col a {
    display: block;
    width: 200px;

    margin: 0 auto;
  }
  .work {
    padding: 2px 2px;
  }
  .work h1 {
    font-size: 32px;
    line-height: 1;
  }
  .work h2 {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .work img {
    width: 300px;
  }
  .work {
    padding: 60px 60px;
  }
  .work h2 {
    -align: left;
  }
  nav li a {
    font-size: 13px;
    margin-left: 0px;
  }
  footer .mail .email-link{
     
    font-size: 18px;
  
  }
 
}
.container .row .col img {
  width: 450px;
  margin-top: 50px;
}
.about .container {
  padding: 40px 20px;
}
.about .container .row .col h1 {
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
  /* text-align: left; */
}
.about .container .row .col h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
.about .container .row .col p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.about .container .row .col a {
  padding: 14px 24px;
  border-radius: 5px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.work {
  padding: 120px 120px;
}
.work .container {
  margin: 0 auto;
}
.work h1 {
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;

  text-align: center;
  margin-bottom: 50px;
}
.work h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
.work p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.contact{
  margin:100px 200px;
}

.contact h1 {
  font-family: Playfair Display;
  font-size: 80px;
  font-weight: 700;
  line-height: 85px;
  text-align: left;
  margin-bottom: 80px;
}
.contact h2 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 30px;
  text-align: left;
}
.contact a {
  color: blue;
  font-size: 20px;
  font-family: Poppins;
}
nav {
  padding: 20px 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 20px;
  font-size: 18px;
}

.logo {
  max-height: 40px;
}
nav a {
  text-decoration: none;
  color: black;
  font-family: Poppins;
  font-weight: 500;
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: #6c63ff;
}
nav li.active a {
  color: #6c63ff;
}
.footer {
  margin: 100px 70px;
  padding: 50px;
  margin-bottom: 50px;
  background-color: #f8f6fe;
  border-radius: 1cap
}
footer h1 {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 63.98px;
  text-align: left;
}
footer p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
footer .button {
  padding: 14px 24px;
  padding-top: 18px;
  border-radius: 5px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
}
footer .email-link{
  text-decoration: none;
  color:black;

  font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;




}
footer .email-link:hover{
  color:#6c63ff;
}
.social-links{
  margin:20px;
}
.social-links a{
  margin-left:40px;
  font-size: 30px;
  color:#6c63ff;
  background: #f8f6fe;
  padding:  10px 16px;
  border-radius: 50%;
  transition :all 100ms ease-in-out;
}
.social-links a:hover{
  color:#f8f6fe;
  background: #6c63ff;
}